<div class="row">
  <div class="col-md-6">
    <figure class="effect">
      <img src="assets/tree.png">
      <figcaption>
        <h3>Analysis of LiDar Point Cloud Data for Environmental Monitoring</h3>
        <p><strong>Tags:</strong> <br>C#, algorithms</p>
        <a href="[Project link here]" target="_blank">View more</a>
        <span class="icon"><span class="glyphicon glyphicon-new-window"></span></span>
      </figcaption>
    </figure>
  </div>
  <div class="col-md-6">
    <li>Applied Poisson Surface Reconstruction Algorithm using PCL library to the point cloud in C#.</li>
    <li>Developed algorithm for fitting the point cloud to convex hull, and 3D visualized the result using CloudCompare.</li>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <figure class="effect">
      <img src="assets/docker.png">
      <figcaption>
        <h3>Backend Api Microservice</h3>
        <p><strong>Tags:</strong> <br>Golang, Docker, Kubernetes</p>
        <a href="[Project link here]" target="_blank">View more</a>
        <span class="icon"><span class="glyphicon glyphicon-new-window"></span></span>
      </figcaption>
    </figure>
  </div>
  <div class="col-md-6">
    <li>Developed the api logic for a car rental company using Golang and Postgres SQL.</li>
    <li>Created Docker iamge and deployed to Kubernetes.</li>
  </div>
</div>

