<h3>Education</h3>
<div class="experiences">

  <div class="experience row" *ngFor="let education of userEducationsInfo">
    <div class="col-md-4">
      <h4>{{ education['schoolName'] }}</h4>
      <p class="experience-period">
        {{ education['startDate'] }}				-
        {{ education['endDate'] }}			</p>
    </div>
    <div class="col-md-8">
      <p>
        <strong>{{ education['degreeTitle'] }}</strong>
        <br>
        <li class="hidden-phone">
					Specialization in Computing Science</li>
        <li class="hidden-phone">Science Internship Program</li>
        <li class="hidden-phone">Dean’s List Student </li>


        <span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						{{ education['location'] }}</span>
				</span>
      </p>
    </div>
  </div>

</div>
