<h3>Careers</h3>
<div class="experiences">

  <div class="experience row" *ngFor="let career of userCareersInfo">
    <div class="col-md-4">
      <h4>{{ career['companyName'] }}</h4>
      <p class="experience-period">
        {{ career['startDate'] }}				-
        {{ career['endDate'] }}			</p>
    </div>
    <div class="col-md-8">
      <p style="width: 130%">
        <strong>{{ career['jobTitle'] }}</strong>
        <li class="hidden-phone" *ngFor="let duty of career['jobDuty']" >
					 {{ duty }}</li>
        <br>
        <span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						{{ career['location'] }}</span>
				</span>
      </p>
    </div>
  </div>

</div>
