<div class="col col-md-6">
  <div class="link col col-xs-12">
    <a href="https://www.linkedin.com/in/ruoyangsong/" target="_blank">
      <span class="icon icon-linkedin"></span>www.linkedin.com/in/ruoyangsong
    </a>
  </div>
</div>
<div class="col col-md-6">
  <div class="link col col-xs-12">
    <a href="mailto:ruoyang@ualberta.ca">
      <span class="icon icon-email"></span>
      <span style="unicode-bidi:bidi-override; direction: rtl;"></span>ruoyang@ualberta.ca
    </a>
  </div>
</div>
<div class="col col-md-6">
  <div class="link col col-xs-12">
    <a href="tel:1-780-709-5986">
      <span class="icon icon-tel"></span>+1-780-709-5986
    </a>
  </div>
</div>
